<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
    <property name="hibernate.default_schema">elet</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/elet</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>
        <mapping resource="Nentity/AddressEntity.hbm.xml"></mapping>
        <mapping class="entity.AddressEntity"/>
        <mapping class="entity.BusinessEntity"/>
        <mapping class="entity.CategoryEntity"/>
        <mapping class="entity.GoodsEntity"/>
        <mapping class="entity.OrdersEntity"/>
        <mapping class="entity.UserEntity"/>
    </session-factory>
</hibernate-configuration>